{% load static %}
{% with c=selected %}
<div class="col-md-12 mt-4">
    <label class="form-label">Número Citología</label>
    <input type="text" name="citologia" class="form-control"
        value="{% if edit %}{{ c.citologia }}{% endif %}" required>
</div>
<div class="col-md-12 mt-3">
    <label class="form-label">Tipo de citología</label>
    <select name="descripcion" class="form-select" required>
        <option value="" disabled {% if not edit %}selected{% endif %}>Seleccionar tipo de citología</option>
        <option value="Convencional" {% if edit and c.descripcion == 'Convencional' %}selected{% endif %}>Convencional</option>
        <option value="Base líquida" {% if edit and c.descripcion == 'Base líquida' %}selected{% endif %}>Base líquida</option>
    </select>
</div>
<div class="col-md-12 mt-3">
    <label class="form-label">Tipo de muestra</label>
    <select name="tipo_citologia" class="form-select" required>
        <option value="" disabled {% if not edit %}selected{% endif %}>Seleccionar tipo de muestra</option>
        <option {% if edit and c.tipo_citologia == 'Improntas' %}selected{% endif %}>Improntas</option>
        <option {% if edit and c.tipo_citologia == 'Punción-aspiración' %}selected{% endif %}>Punción-aspiración</option>
        <option {% if edit and c.tipo_citologia == 'Esputo' %}selected{% endif %}>Esputo</option>
        <option {% if edit and c.tipo_citologia == 'Líquido pleural' %}selected{% endif %}>Líquido pleural</option>
        <option {% if edit and c.tipo_citologia == 'Líquido ascítico' %}selected{% endif %}>Líquido ascítico</option>
        <option {% if edit and c.tipo_citologia == 'Líquido pericárdico' %}selected{% endif %}>Líquido pericárdico</option>
        <option {% if edit and c.tipo_citologia == 'Saliva' %}selected{% endif %}>Saliva</option>
        <option {% if edit and c.tipo_citologia == 'Contenido quístico' %}selected{% endif %}>Contenido quístico</option>
        <option {% if edit and c.tipo_citologia == 'Raspados' %}selected{% endif %}>Raspados</option>
        <option {% if edit and c.tipo_citologia == 'Orina' %}selected{% endif %}>Orina</option>
        <option {% if edit and c.tipo_citologia == 'Cepillado' %}selected{% endif %}>Cepillado</option>
        <option {% if edit and c.tipo_citologia == 'Citología respiratoria (BAS y BAL)' %}selected{% endif %}>Citología respiratoria (BAS y BAL)</option>
        <option {% if edit and c.tipo_citologia == 'Secreción mamaria' %}selected{% endif %}>Secreción mamaria</option>
        <option {% if edit and c.tipo_citologia == 'Muestra vulvar' %}selected{% endif %}>Muestra vulvar</option>
        <option {% if edit and c.tipo_citologia == 'Muestra endometrial' %}selected{% endif %}>Muestra endometrial</option>
    </select>
</div>
<div class="row col-md-12 mt-2">
    <div class="col-md-6">
        <label class="form-label">Fecha</label>
        <input type="date" name="fecha" class="form-control"
            value="{% if edit %}{{ c.fecha|date:'Y-m-d' }}{% endif %}" required>
    </div>
    <div class="col-md-6">
        <label class="form-label">Órgano</label>
        <select name="organo" class="form-select" required>
            <option selected disabled value="">Seleccionar Órgano</option>
            <optgroup label="Sistema Nervioso">
                <option {% if edit and c.organo == 'Encéfalo' %}selected{% endif %}>Encéfalo</option>
                <option {% if edit and c.organo == 'Médula Espinal' %}selected{% endif %}>Médula Espinal</option>
                <option {% if edit and c.organo == 'Nervio' %}selected{% endif %}>Nervio</option>
                <option {% if edit and c.organo == 'Ganglio Nervios' %}selected{% endif %}>Ganglio Nervios</option>
            </optgroup>
            <optgroup label="Tegumento">
                <option {% if edit and c.organo == 'Piel' %}selected{% endif %}>Piel</option>
                <option {% if edit and c.organo == 'Uña' %}selected{% endif %}>Uña</option>
                <option {% if edit and c.organo == 'Pelo' %}selected{% endif %}>Pelo</option>
            </optgroup>
            <optgroup label="Cardiovascular">
                <option {% if edit and c.organo == 'Corazón' %}selected{% endif %}>Corazón</option>
                <option {% if edit and c.organo == 'Venas' %}selected{% endif %}>Venas</option>
                <option {% if edit and c.organo == 'Arteria' %}selected{% endif %}>Arteria</option>
                <option {% if edit and c.organo == 'Líquido Pericárdico' %}selected{% endif %}>Líquido Pericárdico</option>
            </optgroup>
            <optgroup label="Linfático">
                <option {% if edit and c.organo == 'Ganglio Linfático' %}selected{% endif %}>Ganglio Linfático</option>
                <option {% if edit and c.organo == 'Vaso Linfático' %}selected{% endif %}>Vaso Linfático</option>
                <option {% if edit and c.organo == 'Bazo' %}selected{% endif %}>Bazo</option>
            </optgroup>
            <optgroup label="Endocrino">
                <option {% if edit and c.organo == 'Hipófisis' %}selected{% endif %}>Hipófisis</option>
                <option {% if edit and c.organo == 'Glándula Tiroides' %}selected{% endif %}>Glándula Tiroides</option>
                <option {% if edit and c.organo == 'Glándulas Paratiroides' %}selected{% endif %}>Glándulas Paratiroides</option>
                <option {% if edit and c.organo == 'Glándulas Suprarrenales' %}selected{% endif %}>Glándulas Suprarrenales</option>
                <option {% if edit and c.organo == 'Páncreas' %}selected{% endif %}>Páncreas</option>
            </optgroup>
            <optgroup label="Respiratorio">
                <option {% if edit and c.organo == 'Fosa Nasal' %}selected{% endif %}>Fosa Nasal</option>
                <option {% if edit and c.organo == 'Faringe' %}selected{% endif %}>Faringe</option>
                <option {% if edit and c.organo == 'Laringe' %}selected{% endif %}>Laringe</option>
                <option {% if edit and c.organo == 'Tráquea' %}selected{% endif %}>Tráquea</option>
                <option {% if edit and c.organo == 'Bronquio' %}selected{% endif %}>Bronquio</option>
                <option {% if edit and c.organo == 'Pulmón' %}selected{% endif %}>Pulmón</option>
                <option {% if edit and c.organo == 'Líquido Pleural' %}selected{% endif %}>Líquido Pleural</option>
            </optgroup>
            <optgroup label="Digestivo">
                <option {% if edit and c.organo == 'Boca' %}selected{% endif %}>Boca</option>
                <option {% if edit and c.organo == 'Lengua' %}selected{% endif %}>Lengua</option>
                <option {% if edit and c.organo == 'Glándula Salival' %}selected{% endif %}>Glándula Salival</option>
                <option {% if edit and c.organo == 'Esófago' %}selected{% endif %}>Esófago</option>
                <option {% if edit and c.organo == 'Estómago' %}selected{% endif %}>Estómago</option>
                <option {% if edit and c.organo == 'Hígado' %}selected{% endif %}>Hígado</option>
                <option {% if edit and c.organo == 'Vesícula Biliar' %}selected{% endif %}>Vesícula Biliar</option>
                <option {% if edit and c.organo == 'Int. Delgado' %}selected{% endif %}>Int. Delgado</option>
                <option {% if edit and c.organo == 'Int. Grueso' %}selected{% endif %}>Int. Grueso</option>
                <option {% if edit and c.organo == 'Ciego' %}selected{% endif %}>Ciego</option>
                <option {% if edit and c.organo == 'Apéndice' %}selected{% endif %}>Apéndice</option>
                <option {% if edit and c.organo == 'Recto' %}selected{% endif %}>Recto</option>
                <option {% if edit and c.organo == 'Ano' %}selected{% endif %}>Ano</option>
                <option {% if edit and c.organo == 'Líquido Peritoneal' %}selected{% endif %}>Líquido Peritoneal</option>
            </optgroup>
            <optgroup label="Excretor Urinario">
                <option {% if edit and c.organo == 'Riñón' %}selected{% endif %}>Riñón</option>
                <option {% if edit and c.organo == 'Pelvis Renal' %}selected{% endif %}>Pelvis Renal</option>
                <option {% if edit and c.organo == 'Uréter' %}selected{% endif %}>Uréter</option>
                <option {% if edit and c.organo == 'Vejiga Urinaria' %}selected{% endif %}>Vejiga Urinaria</option>
                <option {% if edit and c.organo == 'Uretra' %}selected{% endif %}>Uretra</option>
            </optgroup>
            <optgroup label="Reproductor Masculino">
                <option {% if edit and c.organo == 'Testículo' %}selected{% endif %}>Testículo</option>
            </optgroup>
            <optgroup label="Reproductor Femenino">
                <option {% if edit and c.organo == 'Ovario' %}selected{% endif %}>Ovario</option>
                <option {% if edit and c.organo == 'Trompa de Falopio' %}selected{% endif %}>Trompa de Falopio</option>
                <option {% if edit and c.organo == 'Útero' %}selected{% endif %}>Útero</option>
                <option {% if edit and c.organo == 'Vagina' %}selected{% endif %}>Vagina</option>
                <option {% if edit and c.organo == 'Vulva' %}selected{% endif %}>Vulva</option>
                <option {% if edit and c.organo == 'Cuerpo de Útero' %}selected{% endif %}>Cuerpo de Útero</option>
                <option {% if edit and c.organo == 'Cuello de Útero' %}selected{% endif %}>Cuello de Útero</option>
                <option {% if edit and c.organo == 'Cavidad Pélvica' %}selected{% endif %}>Cavidad Pélvica</option>
            </optgroup>
            <optgroup label="Locomotor">
                <option {% if edit and c.organo == 'Hueso' %}selected{% endif %}>Hueso</option>
                <option {% if edit and c.organo == 'Músculo Esquelético' %}selected{% endif %}>Músculo Esquelético</option>
                <option {% if edit and c.organo == 'Líquido Sinovial' %}selected{% endif %}>Líquido Sinovial</option>
            </optgroup>
            <option {% if edit and c.organo == 'Otros' %}selected{% endif %}>Otros</option>
        </select>
    </div>
</div>
<div class="col-md-12 mt-3">
    <label class="form-label">Descripción Macroscópica</label>
    <textarea name="caracteristicas" class="form-control textarea__text"
        required>{% if edit %}{{ c.caracteristicas }}{% endif %}</textarea>
</div>
<div class="col-md-12">
    <label class="form-label">Observaciones</label>
    <textarea name="observaciones" class="form-control textarea__text"
        >{% if edit %}{{ c.observaciones }}{% endif %}</textarea>
</div>
<div class="col-md-12 mt-3">
    <label class="form-label">Información clínica</label>
    <textarea name="informacion_clinica" class="form-control textarea__text"
        >{% if edit %}{{ c.informacion_clinica }}{% endif %}</textarea>
</div>
<div class="col-md-12 mt-3">
    <label class="form-label">Descripción microscópica</label>
    <textarea name="descripcion_microscopica" class="form-control textarea__text"
        >{% if edit %}{{ c.descripcion_microscopica }}{% endif %}</textarea>
</div>
<div class="col-md-12 mt-3">
    <label class="form-label">Volante de petición (archivo)</label>
    <input type="file" name="volante_peticion" class="form-control" 
        accept="*/*">
    {% if edit and c.volante_peticion_nombre %}
        <small class="form-text text-muted">Archivo actual: {{ c.volante_peticion_nombre }}</small>
    {% endif %}
</div>
<div class="col-md-12 mt-3">
    <label class="form-label">Diagnóstico probable</label>
    <textarea name="diagnostico_final" class="form-control textarea__text"
        >{% if edit %}{{ c.diagnostico_final }}{% endif %}</textarea>
</div>
{% endwith %}
